
/*NAVBAR CSS IN OPERATORS*/
.navbar {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #dd5822;
    padding: 10px;
    /* Adds spacing between grid items */
}
.navbar-left a {
    text-decoration: none;
    padding: 10px;
    color: white;
}
.navbar-right {
    text-align: right;
    color: white;
}
.navbar-heading {
    margin: 0;
    font-size: 20px;
}
/* IMAGE BELOW OPERATORS NAVBAR*/
.sec .image-container {
    text-align: center;  
}
.sec .image-container img {
    display: inline-block;
    width: 50%;
    margin-top: 10px;  
}
.sec div{
    background-image: url(ajay-gorecha-K3FpO1x0qB0-unsplash.jpg);
    background-repeat: no-repeat;
}
/* Operators Css*/

.grid-container-4 {
    grid-column: 1 / span 2;
    background-image: url(img2.png);
    margin: 20px;
    padding: 20px;
   }
   
   .grid-item-4 {
     border: 1px solid #ccc;
     padding: 20px;
   }
   
   table {
     width: 100%;
     border-collapse: collapse;
   }
   
   th, td {
     border: 1px solid #ddd;
     padding: 8px;
     text-align: left;
   }
   
   th {
     background-color: #f2f2f2;
   }
   section{
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.3);
    margin: 50px;
    /*background-color: #dd5822;*/
   }
   @media screen and  (max-width:426px) {
    section{
        margin: 0px;
        
    }
    .grid-container-4{
        margin: 0px;
    }
   }
   